<div class="container"></div>
<div class="row">
    
    <div class="col-xs-12">
    <div class="panel-header">
       Contacts
       <button class="btn btn-secondary pull-right" routerLink="new">New Contact</button>    
    </div>
</div>
</div>
<hr>

    <div class="panel-body">
                    
                   
    <div class="row">
        <cms-contact-item
         *ngFor="let contact of contacts"
        [contact]="contact"
        (click)="onSelected(contact)">
        </cms-contact-item>
        </div>
    </div>

    <!-- <ul class="list-group"></ul>
            <a
            class="list-group-item"
            style="cursor: pointer;"
            *ngFor="let contact of contacts"
            >
        {{ contact.id }}, {{ contact.imageUrl }}
        </a> -->
   

