
<div class="row">
    
    <div class="col-xs-12">
    <div class="panel-header">
       Contacts
       <button class="btn btn-secondary pull-right">New Contact</button>    
    </div>
    <div class="panel-body">

    </div>
</div>
<hr>

<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
            <div class="container">
                <div class="row">
                    <cms-contact-item
                    *ngFor="let contactElem of contacts"
                    [contact]="contactElem"
                    (contactSelected)="onContactSelected(contactElem)">
                </cms-contact-item>
                </div>
            </div>
    <hr>
    <!-- <ul class="list-group"></ul>
            <a
            class="list-group-item"
            style="cursor: pointer;"
            *ngFor="let contact of contacts"
            >
        {{ contact.id }}, {{ contact.imageUrl }}
        </a> -->
    </div>
    </div>
</div>

