<div class="row">
    
    <div class="col-xs-12">
    <div class="panel-header">
       Contacts
       <button class="btn btn-secondary pull-right">New Contact</button>    
    </div>
    <div class="panel-body">

    </div>
</div>
<hr>

<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
        <a href="#" 
        class="list-group-item clearfix" 
        *ngFor="let contact of contacts">
            <div class="pull-left">
                <p class="list-group-item-text">{{ contact.name}}</p>
            </div>
        
            <span class="pull-right">
                <img 
                [src]="contact.imageUrl"
                alt="{{ contact.name }}" 
                class="img-responsive" 
                style="max-height: 50px;">
            </span>
        </a>
    </div>
    </div>
</div>

